{% extends 'Admin/baseform.html.twig' %}

{% block content_title %}
    <h2 class="text-center font-bold">Ajout d'une nouvelle marque:</h2>
{% endblock %}

{% block button_submit %}<button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Ajouter</button>{% endblock %}