# Created by .ignore support plugin (hsz.mobi)
.idea/
public/assets/images/uploads/*
!public/assets/images/uploads/.gitkeep
src/ControllerCache/*
!src/ControllerCache/.gitkeep
vendor/
composer.json
composer.phar
connect.php
