{% include 'header.html.twig' %}

<div class="container">
    <legend class="title_introduction">Modification de la page d'accueil</legend>
    {% if errorMessages %}
        <div class="row">
    {% for errorMessage in errorMessages %}
        <div class="alert alert-danger" role="alert">{{ errorMessage }}</div>
    {% endfor %}
        </div>
    {% endif %}
    {% if successMessages %}
        <div class="row">
            {% for successMessage in successMessages %}
                <div class="alert alert-success" role="alert">{{ successMessage }}</div>
            {% endfor %}
        </div>
    {% endif %}
    <div class="row">
        <form method="POST" action="index.php?route=admin" class="introduction_form">
            <textarea class ="introduction" name="content" id="introduction" rows="10" cols="80">
                {{ company.content }}
            </textarea>
            <script>
                // Replace the <textarea id="editor1"> with a CKEditor
                // instance, using default configuration.
                CKEDITOR.replace( 'introduction', {
                    customConfig: 'ckeditor_config.js',
                    language: 'fr',
                    width: '75%'
                });
            </script>
            <div class ="videoblock">
                <label for="video_link">Lien de la vidéo:</label>
                <input id="video_link" name="video_link" type="url" value="https://youtu.be/{{ company.video_link }}" />
            </div>
            <button type="submit" class="btn btn-success">
                {% if is_mod == false %}
                <span class="glyphicon glyphicon-plus"></span>Ajouter
                {% else %}
                <span class="glyphicon glyphicon-tick"></span>Modifier
                {% endif %}
            </button>
        </form>
    </div>
</div>

{% include 'footer.html.twig' %}

