<footer class="footer-bs" id="infos">
    <div class="row">
        <div class="col-md-4 footer-brand animated fadeInLeft">
            <img src="assets/images/logo.png" alt="Logo" class="img-responsive logo-body">
            <p>LEVEN ORLEANS 2 rue du Chariot 450000 ORLEANS</p>
            <p>02 38 50 00 77</p>
            <p><a href="mailto:boutiqueleven@gmail.com">boutiqueleven@gmail.com</a></p>
        </div>

        <!-- HORAIRES -->
        <div class="col-md-4 footer-nav animated fadeInUp">
            <h4>Horaires</h4>
            <div class="col-md-6 hours">
                <p>Du lundi au vendredi</p>
                <p>10h 13h - 14h 15h</p>
            </div>
            <div class="col-md-6 hours">
                <p>Samedi</p>
                <p>10h - 19h</p>
            </div>
        </div>

        <!-- SOCIAL MEDIA -->
        <div class="col-md-4 footer-social animated fadeInDown">
            <h4>Retrouvez-nous sur les réseaux</h4>

            <a class="fa fa-facebook fa-2x" href="https://www.facebook.com/LEVEN-295474177595736/" target="_blank"></a>
            <a class="fa fa-snapchat-ghost fa-2x" aria-hidden="true" href="https://www.snapchat.com/add/boutique.leven" target="_blank"></a>
            <a class="fa fa-instagram fa-2x" href="https://www.instagram.com/levenorleans/?hl=fr" target="_blank"></a>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="text-center designed">Created by <a href="https://wildcodeschool.fr/" target="_blank">Wild Code School - </a>
                <a href = "index.php?route=mentions">Mentions Légales</a>
            </p>
        </div>
    </div>
</footer>