<!-- FOOTER START HERE -->
<footer class="footer-bs">
    <div class="row">
        <div class="col-md-4 footer-brand animated fadeInLeft">
            <h2>Logo</h2>
            <p>LEVEN ORLEANS 2 rue du Chariot 450000 ORLEANS</p>
            <p>02 38 50 00 77</p>
            <p><a href="mailto:boutiqueleven@gmail.com">boutiqueleven@gmail.com</a></p>
        </div>

        <!-- HORAIRES -->
        <div class="col-md-4 footer-nav animated fadeInUp">
            <h4>Horaires —</h4>
            <div class="col-md-6">
                <p>Du lundi au vendredi</p>
                <p>10h 13h - 14h 15h</p>
            </div>
            <div class="col-md-6">
                <p>Samedi</p>
                <p>10h - 19h</p>
            </div>
        </div>

        <!-- SOCIAL MEDIA -->
        <div class="col-md-4 footer-social animated fadeInDown">
            <h4>Retrouvez-nous sur les réseaux</h4>

            <a class="fa fa-facebook fa-3x" href="#"></a>
            <a class="fa fa-snapchat fa-3x" href="#"></a>
            <a class="fa fa-instagram fa-3x" href="#"></a>

        </div>

        </p>
    </div>
    </div>
</footer>
<section style="text-align:center; margin:10px auto;"><p>Designed by <a href="#">Wild Code School</a></p></section>

<!-- END FOOTER -->

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="assets/js/bootstrap.js"></script>
</body>
</html>