{% include 'header.html.twig' %}
{% include 'navbar.html.twig' %}
<header>
    <div class="container-fluid">
        <div class="row urban_image">

            <div class="bg-title col-md-offset-6 col-md-6">
                <div class="box-title">


                    <h1 class="slogan">"Ne vous laissez pas dicter vos choix"</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="video_presentation">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <div class="media presentation">
                    <div class="media-body">
                        <h3 class="media-heading leven">LEVEN</h3>
                        <div class="history">{{ company.content | raw }}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="media">
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe class="embed-responsive-item"
                                src="http://www.youtube.com/embed/pYf5deeiPf4"></iframe>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<br/>
<section>
    <div class="container-fluid">
        <div class="row thubn">
            <div class="col-md-4">
                <div class="preview thumbnail">
                    <img class="img-responsive" src="assets/images/boutique1.jpg" alt="boutique1">
                </div>
            </div>
            <div class="col-md-4">
                <div class="preview thumbnail">
                    <img class="img-responsive" src="assets/images/boutique3.jpg" alt="boutique3">
                </div>
            </div>
            <div class="col-md-4">
                <div class="preview thumbnail">
                    <img class="img-responsive" src="assets/images/boutique2.jpg" alt="boutique2">
                </div>
            </div>
        </div>
    </div>
</section>


{% include 'footer.html.twig' %}