{% include 'header.html.twig' %}
{% include 'navbar.html.twig' %}
<header>
    <div class="container-fluid">
        <div class="row urban_image">

            <div class="bg-title col-md-offset-6 col-md-6">
                <div class="box-title">


                    <h2 class="slogan">"NE VOUS LAISSEZ PAS DICTER VOS CHOIX"</h2>
                </div>
            </div>
        </div>
    </div>
</header>


<section class="video_presentation">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <div class="media presentation">
                    <div class="media-body">
                        <h3 class="media-heading leven">LEVEN</h3>
                        <h4 class="history">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt
                            ut
                            labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi
                            ut
                            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                            velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                            sunt in
                            culpa qui officia deserunt mollit anim id est laborum.
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="media">
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe class="embed-responsive-item"
                                src="http://www.youtube.com/embed/pYf5deeiPf4"></iframe>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<br/>
<section class="thubn">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <img class="thumbnail img-responsive" src="assets/images/boutique1.jpg" alt="photo1">
            </div>
            <div class="col-md-4">

                <img class="thumbnail img-responsive" src="assets/images/boutique3.jpg" alt="photo2">

            </div>
            <div class="col-md-4">

                <img class="thumbnail img-responsive" src="assets/images/boutique2.jpg" alt="photo3">

            </div>
        </div>
    </div>
</section>


{% include 'footer.html.twig' %}